<div class="terms">
    <h2>Terms & Conditions </h2>
    <p>
        On TRE.GE you can buy official Georgian Railways train tickets. <br>

        To purchase each ticket, it is necessary to fill in the personal information of the passenger, including the ID
        number. The time for purchasing tickets is 10 minutes and the user is responsible for the correctness of the
        information provided. Passengers will not be allowed to board the train if they provide incorrect ID or passport
        information.<br> <br>

        Please note that it is equally important to fill in the mobile phone number and email address correctly, as the
        e-ticket will be sent to the contact information you provided. <br> <br>

        You can buy a ticket on the website with or without registration. Note that if you buy a ticket without
        registration, your active ticket link will be sent via SMS and email address and you will not have access to it
        in your TRE.GE profile. <br> <br>

        To buy a ticket, first of all, you have to select the cities of the desired destination, specify the date of
        departure and return, the number of passengers and search. Choose desired time in the search result list and
        continue buying tickets. In the next step, you have to fill in the passenger's name, surname, ID number and
        proceed to payment.

        You can buy multiple tickets with only one passenger's ID number. It is necessary that the person whose name all
        the tickets are issued is one of the passengers. <br> <br>

        If you buy a ticket from us, you only need a passenger's ID card or passport when entering the train.
    </p><br> <br>

    <h2>Ticket Return</h2>
    <p>The rules of Georgian Railways apply when returning a ticket, and it is possible to return three hour before the
        departure of the train.</p> <br> <br>
    <h2>Privacy policy</h2>
    <p>

    </p>Personal information entered by the user during registration and/or ticket purchase is protected and regulated
    by the " Georgian Personal Data Protection Service". <br> <br>

    All information specified during the transfer is processed by the bank in a specially protected system and TRE.GE
    does not have access to it. <br> <br>

</div>