<footer>
    <div class="footer_container">
        <div class="terms">
            <div class="logo">
                <img src="../../assets/png-removebg-preview.png" class="photo">
                <p class="title">Railway Tickets</p>
            </div>
            
            <a routerLink="/terms">Terms and Conditions</a>
            <p class="terms_p">2024 © Railway Tickects All Rights Reserved</p>
        </div>
        
        <div class="from">
            <h4>Tbilisi to Regions </h4>
            <div class="from_desinations">
                <p>Tbilisi - Batumi</p>
                <p>Tbilisi - Poti</p>
                <p>Tbilisi - Kutaisi</p>
                <p>Tbilisi - Zugdidi</p>
            </div>
        </div>
        <div class="to">
            <h4>Regions to Tbilisi </h4>
            <div class="to_desinations">
                <p>Batumi - Tbilisi</p>
                <p>Poti - Tbilisi</p>
                <p>Kutaisi - Tbilisi</p>
                <p>Zugdidi - Tbilisi</p>
            </div>
        </div>
        <div class="follow-container">
            <h4>Follow Us</h4>
            <div class="follow">
        
                    <a href="https://www.facebook.com/">
                        <img src="../../assets/fb.webp">
                        <p>Facebook</p>
                    </a>
     

                    <a href="https://www.instagram.com/">
                        <img src="../../assets/instagram.png">
                        <p>Instagram</p>
                    </a>
   
        
                    <a href="https://www.linkedin.com">
                        <img src="../../assets/linkedin-icon-2.svg">
                        <p>Linkdin</p>
                    </a>
                
            </div>
        </div>

    </div>
</footer>